body {
  font-family: Popins, sans-serif;
  background: #252839;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

#topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 1000;
}

#topbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#topbar li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #555;

}

#topbar a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  font-weight: bold;
  transition: background-color 0.3s;
}

#navbar a:hover {
  background-color: #555;
}

#instructions {

  color: white;
  text-align: left;
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}

#liquors {
  text-align: center;
  padding: 20px;
}

#mainText {
  text-align: center;
  padding: 20px;
}

.category {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.ingredient {
  display: inline-block;
  margin: 10px;
  width: 128px;
}

.ingredient label {
  cursor: pointer;
  display: block;
}

.ingredient img {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: auto;
}

.ingredient input[type="checkbox"] {
  display: block;
  margin-top: 10px;
  margin: 5px auto;
}

.ingredient span {
  display: block;
  margin-top: 10px;
}