body {
  font-family: 'Poppins', sans-serif;
  background: #252839;
  color: #fff;
  margin: 0;
  padding: 0;
}

#topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 1000;
}

#topbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#topbar li {
  flex: 1;
  text-align: center;
  border-right: 1px solid #555;

}

#topbar a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  font-weight: bold;
  transition: background-color 0.3s;
}

#navbar a:hover {
  background-color: #555;
}


h1, h2, h3 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: 0;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 3px solid white;
  border: 5px solid #d65656;
}

#instructions {
  margin-top: 60px;
  padding: 20px;
  font-size: 20px;
}

#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 20px auto;
  background: #353a40; 
  border-radius: 20px;
  box-shadow: 0 9px 15px rgba(212, 86, 86, 0.5);
  max-width: 1200px; 
}

.category {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 128px;
  margin: 15px;
}

.ingredient label {
  cursor: pointer;
  display: block;
  width: 128px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s;
  margin-bottom: 10;
}

.ingredient label:hover {
  transform: scale(1.1);
}

.ingredient img {
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 128px;
}

.ingredient input[type="checkbox"] {
  display: block;
  margin-top: 10px;
  margin: 5px auto;
}

.ingredient span {
  display: block;
  margin-top: 10px;
  text-align: center;
}

footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  text-align: center;
  padding: 1em;
}
